.fundo{
    text-align: center;
    background-color:tomato;
    height: 380px;
    width: 500px;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 30px;
}

span{
    display: block;
    padding: 10px;
}
p{
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    background-color: #fff;
    width: 169.6px;
    height: 28px;
    padding-top: 8px;
    color: black;
}
body{
    background-color: gold;
}
.botao{
    display: block;
    margin-left: 43%;
    height: 30px;
    width: 70px;
    border: none;
    background-color: gold;
    color: black;
    font-family: helvetica;
    border-radius: 10px;
    margin-bottom: 10px;
}
.botao:hover{
    background-color: goldenrod;
    cursor: pointer;
}
#numeroA,#numeroB,#numeroC,p{
    height: 36px;
    outline: 0;
    border: none;
    text-align: center;
    margin: 30px;
}
 .seta1{
    display: inline-block;
   position: absolute;
   right: 220px;
   top: 105px;
   
}
.seta2{
    display: block;
    position: absolute;
   right: 220px;
   top: 225px;
}